<div class="me" *ngIf="!!isLogin">
    <a [routerLink]="linkToProfile(userInfo.nickname)">Profile</a>
</div>
<div *ngIf="posts.length > 0" class="listPost">
    <h1>List posts:</h1>
    <div class="post" *ngFor="let post of posts">
        <ng-container [ngTemplateOutlet]="postTmpl" [ngTemplateOutletContext]="{ post: post }"></ng-container>
    </div>
</div>
<ng-template #postTmpl
    let-post="post"
>
    <div class="creator" (click)="goToProfile(post.user.nickname)">
        <img [src]="post.user.avatar" [alt]="post.user.nickname">
        <h2>{{ post.user.nickname }}</h2>
        <div class="createAt">{{ post.created_at }}</div>
    </div>
    <div class="description">{{ post.description }}</div>
    <div class="video">
        <video [src]="post.file_url" muted controls></video>
    </div>
</ng-template>